# Data-X Fall 2018: Homework 06 

### Machine Learning

**Authors:** Sana Iqbal (Part 1, 2, 3)


In this homework, you will do some exercises with prediction. Please note that not all tests are visible. There will be further tests on gradescope.

In [261]:
import numpy as np
import pandas as pd
import otter

In [262]:
 # machine learning libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
#import xgboost as xgb

In [263]:
grader = otter.Notebook()

## Part 1



#### 1.a Read __`diabetesdata.csv`__ file into a pandas dataframe. 
About the data: __

1. __TimesPregnant__: Number of times pregnant 
2. __glucoseLevel__: Plasma glucose concentration a 2 hours in an oral glucose tolerance test 
3. __BP__: Diastolic blood pressure (mm Hg)  
5. __insulin__: 2-Hour serum insulin (mu U/ml) 
6. __BMI__: Body mass index (weight in kg/(height in m)^2) 
7. __pedigree__: Diabetes pedigree function 
8. __Age__: Age (years) 
9. __IsDiabetic__: 0 if not diabetic or 1 if diabetic)

In [264]:
#Read data & print it
data = pd.read_csv('./diabetesdata.csv')
print(data)

     TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree   Age  \
0                6         148.0  72        0  33.6     0.627  50.0
1                1           NaN  66        0  26.6     0.351  31.0
2                8         183.0  64        0  23.3     0.672   NaN
3                1           NaN  66       94  28.1     0.167  21.0
4                0         137.0  40      168  43.1     2.288  33.0
..             ...           ...  ..      ...   ...       ...   ...
763             10         101.0  76      180  32.9     0.171  63.0
764              2         122.0  70        0  36.8     0.340  27.0
765              5         121.0  72      112  26.2     0.245  30.0
766              1         126.0  60        0  30.1     0.349  47.0
767              1          93.0  70        0  30.4     0.315  23.0

     IsDiabetic
0             1
1             0
2             1
3             0
4             1
..          ...
763           0
764           0
765           0
766           1
767           0

[768 rows x 8 columns]

In [265]:
grader.check('q1a')

    All tests passed!

#### 1.b Calculate the percentage of NaN values in each column.

In [266]:
# NullsPerColumn should be a dataframe that includes a column called 'Percentage Null'. The values are between 0 and 1.
percent_missing = data.isnull().sum() / len(data)
NullsPerColumn = pd.DataFrame({'Percentage Null': percent_missing})
NullsPerColumn

               Percentage Null
TimesPregnant         0.000000
glucoseLevel          0.044271
BP                    0.000000
insulin               0.000000
BMI                   0.000000
Pedigree              0.000000
Age                   0.042969
IsDiabetic            0.000000

In [267]:
grader.check('q1b')

    All tests passed!

**1.c Calculate the TOTAL percent of ROWS with NaN values in the dataframe (make sure values are floats).**

In [268]:
# Return values between 0 and 1. 
PercentNull = data.isnull().any(axis=1).sum()/768
PercentNull

0.08333333333333333

**1.d Split __`data`__  into  __`train_df`__ and __`test_df`__  with 15% test split.**

In [269]:
#split values
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(data, test_size = 0.15)

**1.e Replace the Nan values in  __`train_df`__ and __`test_df`__  with the mean of EACH feature.**

In [270]:
train_df = train_df.fillna(train_df.mean()) 
test_df = test_df.fillna(test_df.mean())

In [191]:
grader.check('q1e')

    All tests passed!

**1.f Split __`train_df`__ & __`test_df`__   into  __`X_train`__, __`Y_train`__  and __`X_test`__, __`Y_test`__. __`Y_train`__  and __`Y_test`__ should only have the column we are trying to predict,  __`IsDiabetic`__.**

In [271]:
X_train = train_df[['TimesPregnant', 'glucoseLevel', 'BP', 'insulin', 'BMI', 'Pedigree', 'Age']]
Y_train = train_df['IsDiabetic']
X_test  = test_df[['TimesPregnant', 'glucoseLevel', 'BP', 'insulin', 'BMI', 'Pedigree', 'Age']]
Y_test = test_df['IsDiabetic']

In [272]:
grader.check('q1f')

    All tests passed!

**1.g Use this dataset to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies.**

In [273]:
# Logistic Regression
from sklearn import linear_model

logreg = linear_model.LogisticRegression(solver = 'newton-cg', multi_class = 'ovr') # use newton-cg solver and 'ovr' for multi_class
logreg.fit(X_train, Y_train)

logreg_train_acc = logreg.score(X_train,Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7684049079754601
logreg test accuracy=  0.8103448275862069

In [274]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
perceptron_train_acc = perceptron.score(X_train, Y_train)
perceptron_test_acc = perceptron.score(X_test, Y_test)
print ('perceptron training acuracy= ',perceptron_train_acc)
print('perceptron test accuracy= ',perceptron_test_acc)

perceptron training acuracy=  0.6702453987730062
perceptron test accuracy=  0.6637931034482759

In [275]:
from sklearn.ensemble import AdaBoostClassifier
# Adaboost
adaboost = AdaBoostClassifier()
adaboost.fit(X_train, Y_train)
adaboost_train_acc = adaboost.score(X_train, Y_train)
adaboost_test_acc = adaboost.score(X_test, Y_test)
print ('adaboost training acuracy= ',adaboost_train_acc)
print('adaboost test accuracy= ',adaboost_test_acc)

adaboost training acuracy=  0.8174846625766872
adaboost test accuracy=  0.7672413793103449

In [276]:
# Random Forest

random_forest = RandomForestClassifier()
random_forest.fit(X_train, Y_train)
random_forest_train_acc = random_forest.score(X_train, Y_train)
random_forest_test_acc = random_forest.score(X_test, Y_test)
print('random_forest training acuracy= ',random_forest_train_acc)
print('random_forest test accuracy= ',random_forest_test_acc)

random_forest training acuracy=  0.9846625766871165
random_forest test accuracy=  0.7586206896551724

/Users/hollycheek/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

**1.h Is mean imputation is the best type of imputation to use? Why or why not? What are some other ways to impute the data?**

In [277]:
better = False # [boolean] change this to be True if you believe mean imputation is the best imputation to use, and False otherwise
explanation = 'Mean imputation is the simplest way to work with null data, but it is not the best type of imputation since it decreases variance in the data set and increases the bias for the value. One may use linear regression to predict the missing features, median values, or mean by feature/spectific number of groups.' # [string] write why or why not here, and other ways

## Part 2


__2.a Add columns __`BMI_band`__ & __`Pedigree_band`__  to  a new dataframe called __`data2`__  by cutting __`BMI`__ & __`Pedigree`__ into 3 intervals. PRINT the first 5 rows of __`data2`__.

In [278]:
# YOUR CODE HERE
BMI_band = pd.cut(data['BMI'], bins = 3, labels = ['Low', 'Medium', 'High'])
Pedigree_band = pd.cut(data['Pedigree'], bins = 3, labels = ['Low', 'Medium', 'High'])
data2 = pd.DataFrame() 
data2['Pedigree_band'] = Pedigree_band
data2['BMI_band'] = BMI_band
data2.head(5)

  Pedigree_band BMI_band
0           Low   Medium
1           Low   Medium
2           Low   Medium
3           Low   Medium
4          High   Medium

__2.b Print the category intervals for __`BMI_band`__ & __`Pedigree_band`.

In [279]:
print('BMI_Band_Interval: ' + 'Low (-0.0671, 22.367] ' + 'Medium (22.367, 44.733]' + ' High (44.733, 67.1]')
print('Pedigree_Band_Interval: ' + 'Low (0.0757, 0.859]' + ' Medium (0.859, 1.639]' + ' High (1.639, 2.42]')

BMI_Band_Interval: Low (-0.0671, 22.367] Medium (22.367, 44.733] High (44.733, 67.1]
Pedigree_Band_Interval: Low (0.0757, 0.859] Medium (0.859, 1.639] High (1.639, 2.42]

__2.c Group __`data`__ by __`Pedigree_band`__ & determine ratio of diabetic in each band.__

In [283]:
# YOUR CODE HERE
pedigree_DiabeticRatio = data.groupby(Pedigree_band).sum()['IsDiabetic']/Pedigree_band.value_counts()
pedigree_DiabeticRatio

Pedigree
Low       0.327007
Medium    0.540541
High      0.444444
dtype: float64

__2.d Group  __`data`__ by __`BMI_band`__ & determine ratio of diabetic in each band.__

In [284]:
# YOUR CODE HERE

BMI_DiabeticRatio = data.groupby(BMI_band).sum()['IsDiabetic']/BMI_band.value_counts()
BMI_DiabeticRatio

Low       0.039216
Medium    0.358297
High      0.611111
dtype: float64

__2.e Convert these features - 'BP','insulin','BMI' and 'Pedigree'   into categorical values by mapping different bands of values of these features to integers 0,1,2 in a dataframe called `data3`.__  
 
HINT: USE pd.cut with bin=3 to create 3 bins

In [285]:
# YOUR CODE HERE
BP_band = pd.cut(data.BP, bins = 3, labels = [0,1,2])
insulin_band = pd.cut(data.insulin, bins = 3, labels = [0,1,2])
BMI_band_numerical = pd.cut(data.BMI, bins = 3, labels = [0,1,2])
Pedigree_band_numerical = pd.cut(data.Pedigree, bins = 3, labels = [0,1,2])
data3 = pd.DataFrame()
data3['BP'] = BP_band
data3['insulin'] = insulin_band
data3['BMI'] = BMI_band_numerical
data3['Pedigree'] = Pedigree_band_numerical
data3.head()

  BP insulin BMI Pedigree
0  1       0   1        0
1  1       0   1        0
2  1       0   1        0
3  1       0   1        0
4  0       0   1        2


__2.f Now consider the original dataset again, instead of generalizing the NAN values with the mean of the feature we will try assigning values to NANs based on some hypothesis. For example for age we assume that the relation between BMI and BP of people is a reflection of the age group. We can have 9 types of BMI and BP relations and our aim is to find the median age of each of that group:__

Your Age guess matrix will look like this:  

| BMI | 0       | 1      | 2  |
|-----|-------------|------------- |----- |
| BP  |             |              |      |
| 0   | a00         | a01          | a02  |
| 1   | a10         | a11          | a12  |
| 2   | a20         | a21          |  a22 |


__Create a guess_matrix  for NaN values of *'Age'* ( using 'BMI' and 'BP')  and  *'glucoseLevel'*  (using 'BP' and 'Pedigree') for the given dataset and assign values accordingly to the NaNs in 'Age' or *'glucoseLevel'* .__


Refer to how we guessed age in the titanic notebook in the class.

In [286]:
# YOUR CODE HERE
data3['Age'] = data['Age']
data3['glucoseLevel'] = data['glucoseLevel']

guess_matrix_age = pd.crosstab(index = data3['BMI'], columns = data3['BP'], values = data3['Age'], aggfunc = 'median', dropna= True).to_numpy()
guess_matrix_glucoseLevel = pd.crosstab(index = data3['BP'], columns = data3['Pedigree'], values = data3['glucoseLevel'], aggfunc = 'median', dropna= True).to_numpy()

In [287]:
grader.check('q2f')

    All tests passed!

In [288]:
guess_df_age = pd.crosstab(index = data3['BMI'], columns = data3['BP'], values = data3['Age'], aggfunc = 'median', dropna= True)
guess_df_glucoseLevel = pd.crosstab(index = data3['BP'], columns = data3['Pedigree'], values = data3['glucoseLevel'], aggfunc = 'median', dropna= True)
guess_df_age

BP      0     1     2
BMI
0    24.5  25.0  55.5
1    29.5  29.0  37.0
2    33.0  32.0  31.0

In [289]:
guess_mat_age = pd.crosstab(index = data3['BMI'], columns = data3['BP'], values = data3['Age'], aggfunc = 'median', dropna= True)
guess_mat_glucoseLevel = pd.crosstab(index = data3['BP'], columns = data3['Pedigree'], values = data3['glucoseLevel'], aggfunc = 'median', dropna= True)

columns = ["Age", "glucoseLevel"]
matrices = [guess_df_age,guess_mat_glucoseLevel]
features = ["BMI", "Pedigree"]
for column, matrix, feature in zip(columns, matrices, features):
    for i in range(0,3):
        for j in range(0,3):
            data3.loc[ (data3[column].isnull()) & (data3['BP'] == i) & (data3['BMI'] == j), column] = matrix.loc[j,i]

data3

    BP insulin BMI Pedigree   Age  glucoseLevel
0    1       0   1        0  50.0         148.0
1    1       0   1        0  31.0         115.5
2    1       0   1        0  29.0         183.0
3    1       0   1        0  21.0         115.5
4    0       0   1        2  33.0         137.0
..  ..     ...  ..      ...   ...           ...
763  1       0   1        0  63.0         101.0
764  1       0   1        0  27.0         122.0
765  1       0   1        0  30.0         121.0
766  1       0   1        0  47.0         126.0
767  1       0   1        0  23.0          93.0

[768 rows x 6 columns]



__2.g Now, convert 'glucoseLevel' and 'Age' features also to categorical variables of 4 categories each in a dataframe called `data4`. PRINT the head of `data4`__

In [290]:
# YOUR CODE HERE

data4 = pd.DataFrame()

features = ['glucoseLevel', 'Age']
for feature in features:
    bins = pd.cut(data3[feature], 4, labels=False)
    data4[feature] = bins
    
data4.head(5)

   glucoseLevel  Age
0             2    1
1             2    0
2             3    0
3             2    0
4             2    0

In [291]:
grader.check('q2g')

    All tests passed!

__2.h Use this dataset (with all features in categorical form) to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies.__

In [292]:
# combine data3 and data4 into new DF data5
data5 = data3[['BP', 'insulin', 'BMI', 'Pedigree']]
data5['Age'] = data4['Age']
data5['glucoseLevel'] = data4['glucoseLevel']
data5['IsDiabetic'] = data['IsDiabetic']
data5

/Users/hollycheek/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    BP insulin BMI Pedigree  Age  glucoseLevel  IsDiabetic
0    1       0   1        0    1             2           1
1    1       0   1        0    0             2           0
2    1       0   1        0    0             3           1
3    1       0   1        0    0             2           0
4    0       0   1        2    0             2           1
..  ..     ...  ..      ...  ...           ...         ...
763  1       0   1        0    2             2           0
764  1       0   1        0    0             2           0
765  1       0   1        0    0             2           0
766  1       0   1        0    1             2           1
767  1       0   1        0    0             1           0

[768 rows x 7 columns]

In [293]:
#leaving out Is
train_df, test_df = train_test_split(data5, test_size = 0.15)
X_train = train_df[['BP', 'insulin', 'BMI', 'Pedigree', 'Age', 'glucoseLevel']]
Y_train = train_df['IsDiabetic']
X_test  = test_df[['BP', 'insulin', 'BMI', 'Pedigree', 'Age', 'glucoseLevel']]
Y_test= test_df['IsDiabetic']
X_train.shape, Y_train.shape, X_test.shape

((652, 6), (652,), (116, 6))

In [294]:
# Logistic Regression
logreg = linear_model.LogisticRegression(solver = 'newton-cg', multi_class = 'ovr')
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train,Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7438650306748467
logreg test accuracy=  0.7413793103448276

In [295]:
# Perceptron
perceptron = linear_model.Perceptron()
perceptron.fit(X_train, Y_train)
perceptron_train_acc = perceptron.score(X_train, Y_train)
perceptron_test_acc = perceptron.score(X_test, Y_test)
print ('perceptron training acuracy= ',perceptron_train_acc)
print('perceptron test accuracy= ',perceptron_test_acc)

perceptron training acuracy=  0.7484662576687117
perceptron test accuracy=  0.7413793103448276

In [296]:
# Random Forest
random_forest = RandomForestClassifier()
random_forest.fit(X_train, Y_train)
random_forest_train_acc = random_forest.score(X_train, Y_train)
random_forest_test_acc = random_forest.score(X_test, Y_test)
print ('random_forest training acuracy= ',random_forest_train_acc)
print('random_forest test accuracy= ',random_forest_test_acc)

random_forest training acuracy=  0.7975460122699386
random_forest test accuracy=  0.7586206896551724

/Users/hollycheek/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)